h1 {
  text-shadow: 3px 3px 40px #63C132;
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Russo One', sans-serif;
  padding-bottom: 15px;
}

body {
  background-image: url('../img/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.inputStyles {
  padding: 1px;
  color: white;
  font-size: 15px;
}

.output {
  color: white;
  padding: 15px;
  margin-left: 25px;
  display: none;
}

.reverseOutput {
  color: white;
  padding: 15px;
  margin-left: 25px;
  display: none;
}

.header {
  padding: 10px;
}

#btn1 {
  color: white;
  background-color: black;
  border-radius: 10px;
}

#reverse {
  color: white;
  background-color: black;
  border-radius: 10px;
  margin-left: 25px;
  padding: 10px;
  font-size: 15px;
}

#input1 {
  color: black;
}

#input2 {
  color: black;
}

.buttonClass {
  display: none;
}
